*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background: linear-gradient(90deg, rgba(28,156,13,1) 0%, rgba(26,118,50,1) 52%, rgba(98,0,255,1) 100%);
    color: white;
    height: 200px;
    border-radius: 15px;
    padding: 15px;
    gap: 10px;
    background-color: aqua;
    font-size: 18px;
    line-height: 1.2;
    display: none;
    transform: translateY(0px);
    transition: all 2s linear;
}
.modal-btn{
    display: block;
    position: absolute;
    margin-left: 40%;
    z-index: 4;
    top: 0px;
    transform: translateY(250px);
    transition: all 2s linear;
}
.flex{
    margin-left:150px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    button{
        border: 2px solid white;
        color:white;
        cursor: pointer;
        background-color:transparent;
        border-radius: 15px;
        padding: 10px 15px;
        
    }
}
.modal_btn{
    margin: 30px;
    padding: 10px 35px;
    background-color:black;
    color: white;
    cursor: pointer;
    }

.html{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    display: block;
    z-index:1 !important;
    background-color:lightgray;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}
.html1{
    display: none;
}